.discover-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .map-page {
    width: 100%;
    height: 100vh;
  }

}

.discover-search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 92vh;
}

.discover-search-placeholder-input {
  color: #909090;
  font-size: small;
}

.discover-search-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 36PX;
  border-radius: 10PX;
  margin: 0 10PX;
  padding: 2PX 15PX;
  font-size: small;
  color: #5b5b5b;
  background-color: #ffffff;
}

.discover-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65PX;
  height: 34PX;
  margin-right: 10PX;
}

.discover-search-btn-txt {
  font-size: small;
  color: #fff;
}
