.profile-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

//>>>>>>>>>>>>>>>>>>>>>>>>> FeedBack Style >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.feedback-title-view {
  display: inline-flex;
  flex-direction: column;
  width: 100vw;
  height: 30PX;
  justify-content: center;
  padding-left: 10PX;
  padding-right: 10PX;
}

.feedback-content-view {
  display: inline-flex;
  flex-direction: column;
  width: 96vw;
  height: 220PX;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 2PX;
}

.feedback-content-input {
  font-size: small;
  color: #5b5b5b;
}

.feedback-submit-btn {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  width: 100vw;
  height: 45PX;
  align-items: center;
  background-color: #37c;
}

.feedback-submit-btn-part {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.feedback-submit-line {
  width: 1PX;
  height: 45PX;
  background-color: #fff;
}

.feedback-title-tips-txt {
  font-size: small;
  color: #333333;
}

.feedback-content-input-placeholder-txt {
  font-size: small;
  color: #BDBDBD;
}

.feedback-submit-btn-txt {
  font-size: small;
  color: #FFF;
  margin-left: 5PX;
}
