.page-homepage {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;

  .page-top {
    width: 100%;
    height: 40PX;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .page-top-txt {
      font-size: medium;
      color: aliceblue;
    }
  }

  .home-btn {
    margin: 30PX 0;
    width: 35%;
    background-color: #3377cc;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 12PX;

    .home-btn-txt {
      font-size: medium;
      color: #ffffff;
    }
  }
}

.home-banner-content {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10PX;
  background-color: rgba(255, 255, 255, 0.05);
}

.home-banner-title {
  font-size: large;
  color: white;
}

.home-banner {
  width: 100%;
  height: 40vh;
}

.home-banner-item {
  width: 100%;
  height: 40vh;
}

.home-item-icon {
  display: inline-flex;
  flex-direction: column;
  width: 20PX;
  height: 20PX;
  align-items: center;
  justify-content: center;
  margin-right: 5PX;
}

.home-item-map-icon {
  display: inline-flex;
  flex-direction: column;
  width: 30PX;
  height: 30PX;
  align-items: center;
  justify-content: center;
  margin-right: 5PX;
}

.home-scroll {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
}

.home-scroll-view {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.home-place-item {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 110PX;
  background-color: #fff;
  margin-top: 10PX;
  margin-bottom: 5PX;
  padding: 5PX 10PX;
}

.home-place-item-top {
  display: inline-flex;
  flex-direction: row;
  flex: 4;
}

.home-place-item-top-left {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.home-place-item-top-title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5PX;
}

.home-place-item-top-right {
  display: inline-flex;
  width: 80PX;
  align-items: center;
  justify-content: center;
}

.home-place-item-bottom {
  display: inline-flex;
  flex-direction: column;
  flex: 3;
}

.home-place-item-bottom-content {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin-bottom: 5PX;
}

.home-place-item-device {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3PX;
  background-color: #2A8CE5;
  margin-right: 10PX;
  border-radius: 2PX;
}

.home-place-item-status {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3PX;
  background-color: #2A8CE5;
  margin-right: 10PX;
  border-radius: 2PX;
}

.home-item-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FA7921;
  padding: 0 5PX;
  border-radius: 3PX;
}

.home-place-item-bottom-activity {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.place-item-title-txt {
  font-size: large;
  color: #333;
  margin-right: 15PX;
}

.place-item-number-txt {
  font-size: small;
  color: #333;
  margin-right: 15PX;
}

.place-item-price-view{
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.place-item-number-selected-txt {
  color: #2A8CE5;
}

.place-item-content-txt {
  font-size: small;
  color: #fff;
}
